input {
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0px;
}
[type="submit"]{
    width: auto;
}
header {
    text-align: center;
}
aside {
    float: right;

}